<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCfhoPLAVn2BqFix0aeM2_LN3p_fDt_ao</string>
	<key>GCM_SENDER_ID</key>
	<string>72405142462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sihMockup</string>
	<key>PROJECT_ID</key>
	<string>tourist-safety-4761a</string>
	<key>STORAGE_BUCKET</key>
	<string>tourist-safety-4761a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72405142462:ios:3419ee762a8795cec3c7ef</string>
</dict>
</plist>